<% start = Time.now %>
<table border="1">
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        replies_count
      </th>
      <th>
        tweet.id
      </th>
      <th>
        tweet.favorites_count
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <%= tweet.id %>
        </td>
        <td>
          <%= tweet.replies_count %>
        </td>
        <td>
          <%= tweet.tweet.try(:id) %>
        </td>
        <td>
          <%= tweet.tweet.try(:favorites_count) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% finish = Time.now %>

<p>
  <%= eager_load? ? 'Eager loaded' : 'N+1 query' %>
</p>
<p>
  Time: <%= "%.1f" % ((finish - start) * 1000) %>ms
</p>

<p>
  <%= link_to 'Swtich', url_for(eager_load: !eager_load?) %>
<p>
