<% start = Time.now %>
<table border="1">
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        replies_count
      </th>
      <th>
        in_reply_to.id
      </th>
      <th>
        in_reply_to.favorites_count
      </th>
    </tr>
  </thead>
  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td>
          <%= tweet.id %>
        </td>
        <td>
          <%= (precount? || eager_count?) ? tweet.replies_count : tweet.replies.count %>
        </td>
        <td>
          <%= tweet.in_reply_to.try(:id) %>
        </td>
        <td>
          <%= tweet.in_reply_to.try(:favorites_count) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% finish = Time.now %>

<p>
  Loader: <%= loader %>
</p>
<p>
  Time: <%= "%.1f" % ((finish - start) * 1000) %>ms
</p>

<p>
  <% ApplicationController::AVAILABLE_LOADERS.each do |ld| %>
    <%= link_to_unless loader == ld, ld, url_for(loader: ld) %>
  <% end %>
</p>
